fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
pydantic
pydantic-settings
python-multipart
pydantic-extra-types
alembic
boto3
huggingface-hub
pgvector
tokenizers
langchain
langchain-community
pypdf
PyPDF2
python-magic
pillow
openai
